<!DOCTYPE html>
<html>
<head>
    <title>Face Detection</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Face Detection in Browser</h1>
        <img class="video-frame" src="{{ url_for('video_feed') }}">
        <button id="lock-button">Lock</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
